{% extends "base.html" %}
{% set active_page = "account" %}
{% set done = context['enroll_list'] %}
{% block title %}Account{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1>Pelatihan Saya</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-12">
                                <img class="mx-auto d-block rounded-circle" src="http://loremflickr.com/100/100/people">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mx-auto text-center">
                                    <h5>{{ context['user']['name'] }}</h5>
                                    <h7 class="text-muted">{{ context['user']['email'] }}</h7>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                {% for e in context['enroll_list'] %}
                    {% set image_url = 'https://picsum.photos/900/200?image=' + range(1, 100) | random | string %}
                    {% set training = e.training_detail[0] %}
                    {% set day_of_month = training.datetime.strftime('%d') %}
                    {% set month_short = training.datetime.strftime('%b') %}
                    {% set time = training.datetime.strftime('%X') %}
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="{{ image_url }}" alt="">
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-2 text-center">
                                    <h3 class=""><span class="badge badge-secondary">{{ day_of_month }}</span>
                                    </h3>
                                    <h6>{{ month_short.upper() }}</h6>
                                </div>
                                <div class="col-10">
                                    <a href="{{ url_for('training_detail', training_id=training.training_id) }}">
                                        <h5 class="card-title">{{ training.title }}</h5>
                                    </a>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ training.datetime.strftime('%c') }}</h6>
                                    <p class="card-text">{{ training.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}