{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1>Dasbor</h1>
        <div class="row">
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                    <div class="card-body">
                        <canvas id="chart-evaluation-1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                    <div class="card-body">
                        <canvas id="chart-evaluation-2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                    <div class="card-body">
                        <canvas id="chart-evaluation-3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                    <div class="card-body">
                        <canvas id="chart-evaluation-4"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="card mb-3">
                    <div class="card-header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                    <div class="card-body">
                        <canvas id="chart-evaluation-5"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-3">
                    <div class="card-header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                    <div class="card-body">
                        <canvas id="chart-evaluation-6"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/randomizeChart2.js') }}"></script>
{% endblock %}