{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Pelatihan WikiLatih</h1>
            <p class="lead text-muted">Ikuti program pelatihan penulisan untuk mengetahui bagaimana menjadi kontributor
                Wikipedia yang baik, sekaligus mengembangkan konten ensiklopedia terpopuler dunia.
            </p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            {% for training in context['trainings'] %}
                {% set image_url = 'https://picsum.photos/500/225?image=' + range(1, 100) | random | string %}
                {% set day_of_month = training.datetime.strftime('%d') %}
                {% set month_short = training.datetime.strftime('%b') %}
                {% set time = training.datetime.strftime('%X') %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                             src="{{ image_url }}"
                             data-holder-rendered="true">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-3 text-center">
                                    <h3 class=""><span class="badge badge-secondary">{{ day_of_month }}</span></h3>
                                    <h6>{{ month_short.upper() }}</h6>
                                </div>
                                <div class="col-9">
                                    <a href="{{ url_for('training_detail', training_id=training.training_id) }}"><h5
                                            class="card-title">{{ training.title }}</h5>
                                    </a>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ training.datetime.strftime('%c') }}</h6>
                                    <h6 class="card-subtitle mb-2">{{ training.location }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}