<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/wikilatih-navbar-logo.png') }}" height="30"
             class="d-inline-block align-top"
             alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% set navigation_bar = [
                (url_for('index'), 'index', 'Beranda', True),
                (url_for('account'), 'account', 'Pelatihan Saya', context['logged_in'] and not context['is_admin']),
                (url_for('admin_training_list'), 'admin_training_list', 'Pelatihan', context['is_admin'])
        ] -%}

        {% set active_page = active_page|default('index') -%}
        <ul class="navbar-nav mr-auto">
            {% for href, id, caption, toggle in navigation_bar %}
                {% if toggle %}
                    <li {% if id == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                        <a class="nav-link" href="{{ href|e }}">
                            {{ caption|e }}
                            {% if id == active_page %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if context['logged_in'] %}
            <form action="{{ url_for('logout') }}">
                <button class="btn btn-outline-secondary my-2 my-sm-0">{{ context['logged_name'] }}</button>
            </form>
        {% else %}
            <ul class="navbar-nav">
                <li {% if 'login' == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ url_for('login') }}">
                        Masuk
                        {% if 'login' == active_page %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <form action="{{ url_for('register') }}">
                <button class="btn btn-outline-secondary my-2 my-sm-0">Daftar</button>
            </form>
        {% endif %}

    </div>
</nav>