<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WikiLatih</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% set navigation_bar = [
                (url_for('index'), 'index', 'Home'),
                (url_for('trainings'), 'trainings', 'Trainings'),
                (url_for('profile'), 'profile', 'Profile'),
                (url_for('login'), 'login', 'Login')
            ] -%}
        {% set active_page = active_page|default('index') -%}
        <ul class="navbar-nav mr-auto">
            {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ href|e }}">
                        {{ caption|e }}
                        {% if id == active_page %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {#        <ul class="navbar-nav mr-auto">#}
        {##}
        {##}
        {#            <li class="nav-item active">#}
        {#                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>#}
        {#            </li>#}
        {#            <li class="nav-item">#}
        {#                <a class="nav-link" href="{{ url_for('trainings') }}">Training</a>#}
        {#            </li>#}
        {#            <li class="nav-item">#}
        {#                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>#}
        {#            </li>#}
        {#            <li class="nav-item">#}
        {#                <a class="nav-link" href="{{ url_for('login') }}">Login</a>#}
        {#            </li>#}
        {#        </ul>#}
    </div>
</nav>